@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" 1, "kern" 1;
    font-feature-settings: "liga" 1, "kern" 1;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #fff;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 8em;
	margin-bottom: 0;
}

h2 {
	font-size: 6em;
	margin-top: 0;
	color: #fff;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 80%;
  height: 80%;
}
